*{
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image: url(/RA-Portfolio/images/banner.jpg);
    background-size: cover;
    padding: 80px;
}
/* .abt-me{
    background-image: url(/RA-Portfolio/images/banner.jpg);
    background-size: cover;
} */
img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
